@font-face {
    font-family: "poppins-regular";
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "poppins-light";
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: "poppins-lightitalic";
    src: url('fonts/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: "poppins-medium";
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "poppins-semibold";
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "butler";
    src: url('fonts/Butler_Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "miointerdritto";
    src: url('fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#piazze{
    scroll-margin-top: 80px;
}

body {
    margin: 20px;
    background-color: #FBF7F1;
}

h1, h2, p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-catania, .hero-palermo, .hero-trapani, .hero-siracusa, .img-storia img, .img-footer{
    border: 1px solid rgba(0, 0, 0, 0.30);
}



/* Pagina home */
/* Navbar */
nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-bottom: 24px;
    align-items: center

}
.marchio-navbar{
    width: 115px;
    height: 48px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-self: end;
    font-family: "poppins-regular";
    font-size: 15px;
}

a {
    text-decoration: none;
}
/* Navbar */



/* HeroSection */
.hero-img {
    border-radius: 20px;
    height: auto;
    max-height: 573px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 80px;
}

.hero-descrizione h1{
    font-family: "butler";
    font-size: 36px;
    font-weight: normal;
    color: #000000;
    padding-bottom: 16px;
}

.hero-descrizione p {
    font-family: "poppins-lightitalic";
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
    width: clamp(300px, 70vw, 600px);
    margin-top: 0;
    margin-bottom: 112px;
    padding-left: 4vw;
}
/* HeroSection */



/* Section-card */
.content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 5vw;
   column-gap:5vw;
   padding-left: calc(4vw + 40px);
   padding-right: calc(4vw + 40px);
   margin-bottom: 165px;
}

.card{
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

a.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* aggiunge una transizione per l'effetto hover */
}

a.card:hover {
  transform: scale(1.05); /* si ingrandisce da tutti i lati */
  box-shadow: 0 20px 40px rgba(0,0,0,0.15); /* ombra più intensa */
}

.card img {
    height: 21vw;
    width: 100%;
    object-fit: cover;
    border-top-right-radius:  20px;
    border-top-left-radius: 20px;
}

.card-location {
    display: flex;
    align-items: center;
    text-align: center;
}

.card-location img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.contenuto-card {
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.contenuto-card h2 {
    font-family: "poppins-light";
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.card-location p {
    font-family: "miointerdritto";
    font-size: 16px;
    font-weight: 500;
    font-variation-settings: 'slnt' 0, 'ital' 0; /* Forza l'asse a zero */
    font-style: normal;
    color: #953226 ;
    margin: 0;
}

.card-location img {
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-right: 5px;
}
/* Section-card */



/* Footer */
footer {
    display: flex;
}

footer .marchio-footer {
    align-self: center;
}

.social-comuni-align{
    display: flex;
    gap: 30px;
}

.comuni {
    align-items: center;
    padding-left: 100px;
    font-size: 15px;
    font-family: "poppins-semibold";
    color: #953226;
}

.comuni p {
    margin-bottom: 16px;
    font-size: 16px;
}

.comuni ul {
    font-family: "poppins-regular";
    list-style: none;
    margin: 0;
    padding:0;
}

ul > li > a {
    color: #953226;
}

.social {
    align-items: center;
    padding-left: 30px;
    font-size: 15px;
    font-family: "poppins-semibold";
    color: #953226;
}

.social p {
    margin-bottom: 16px;
    font-size: 16px;
}

.social ul {
    font-family: "poppins-regular";
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .copyright {
    align-self: flex-end;
    margin-left: auto;
    width: clamp(300px, 100vw, 300px);
    font-size: 11px;
    font-family: "poppins-light";
    color: #953226;
}
    
.marchio-footer {
    width: 169px;
    height: 70px;
    padding: 40px;
}

.img-footer {
    width: 1232px;
    height: 560px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    justify-self: center;
    margin-bottom: 165px;
    margin-top: clamp(65px,2vw,300px);
}
/* Footer */
/* Fine pagina home */



/* Pagina piazza Palermo */
.hero-palermo {
    background: url('immagini/Palermo\ 1.jpg');
}   

.location-piazza {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: "miointerdritto";
    font-size: 18px;
    font-weight: 500;
}

.location-piazza img {
    width: 18px;
    height: 18px;
}



/* HeroSection Palermo */
.hero-descrizione{
    color: #000000;
    width: clamp(300px, 50vw, 600px);
    margin-bottom: 52px;
    margin-left: 40px
}

/* Contenuto pagina Palermo*/
.text1, .text2, .text3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5vw;
    margin-left: 5vw;
    gap: 5vw;
}

.text3{
    align-items: flex-start;
    margin-top: 2vw;
}

.text-storia {
    max-width: 703px;
}

.title{
    margin-bottom: 16px;
    color: #953226;
    font-family: "poppins-medium";
    font-weight: normal;
    font-size: 24px;
}

.img-storia{
    min-width: 29vw;
}

.img-storia img{
    width: clamp(22vw, 29vw, 750px);
    height: clamp(22vw, 22vw, 550px);
    object-fit: cover;
    border-radius: 20px;
}

.paragrafo1, .paragrafo2{
    color: #000;
    font-family: "poppins-light";
    font-size: 21px;
}

.paragrafo1{
    margin-bottom: 28px;
}

.paragrafo2{
    margin-bottom: 65px;
}

.regular{
    font-family: 'poppins-regular';
}

.elenco {
    color: #000;
    font-family: "poppins-light";
    font-size: 21px;
    margin-bottom: 65px ;
}

.elenco > li{
    margin-bottom: 5px;
}

.paragrafo3 {
    color: #000;
    font-family: "poppins-light";
    font-size: 21px;
    max-width: 703px;
}

.elemento-invisibile{
    width: clamp(22vw, 29vw, 750px);
    height: clamp(22vw, 22vw, 550px);
    min-width: 29vw;
}
/* Fine Pagina piazza Palermo */



/* Pagina piazza Catania */
.hero-catania{
    background: url('immagini/Catania\ 1.jpg');
}
/* Fine Pagina piazza Catania */



/* Pagina piazza Siracusa */
.hero-siracusa{
    background: url('immagini/Siracusa\ 1.jpg');
}
/* Fine Pagina piazza Siracusa */



/* Pagina piazza Trapani */
.hero-trapani{
    background: url('immagini/Trapani\ 1.jpg');
}
/* Fine Pagina piazza Trapani */



/*REGOLE GENERALI*/
.hero-background{
    position: relative;
    width: 100%;
    height: 573px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 80px;
    background-size: cover;       /* riempie sempre il contenitore */
    background-position: center;  /* centra l'immagine */
    background-repeat: no-repeat; /* evita duplicazioni */
}

/* overlay scuro sopra l'immagine ma sotto il testo */
.hero-background::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background-color: rgba(0, 0, 0, 0.4); /* scurisce solo lo sfondo */
    z-index: 1; /* sotto il testo */
}

/* Blocco testo in basso a sinistra */
.overlay {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2; /* sopra l'overlay */
}

.herotext h1 {
    color: #FFF;
    font-family: "poppins-light";
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    white-space: nowrap;
}
/*REGOLE GENERALI*/



/*Responsive Home*/

/* ------ TABLET (fino a 1194px) ------ */
@media (max-width: 1194px) {

    body {
        margin: 16px;
    }

    /* Navbar */
    .marchio-navbar {
        width: 106px;
        height: 44px;
    }

    .menu ul {
        font-size: 15px;
        gap: 30px;
    }

    /* Hero home */
    .hero-img {
        height: auto;
    }

    .hero-descrizione h1 {
        font-size: 36px;
        width: 600px;
    }

    .hero-descrizione p {
        font-size: 20px;
        margin-bottom: 80px;
        width: 400px;
    }

    .card-location img {
        width: 1.3vw;
        height: 1.3vw;
        margin-right: 0.6vw;
    }

    .card-location p{
        font-size: 1.3vw;
    }

    .contenuto-card h2 {
        font-size: 1.5vw;
    }

    /* Footer */
    .comuni {
        padding-left: 50px;
    }

    .social{
        padding-right: 80px;
    }

    footer .copyright {
        width: clamp(220px, 5vw, 300px);
        font-size: 10px;
    }

    /* Hero pagine città */
    .hero-palermo,
    .hero-catania,
    .hero-siracusa,
    .hero-trapani {
        height: 420px;
    }

    .herotext h1 {
        font-size: 30px;
    }

    .location-piazza{
        font-size: 14px;
    }

    /* Contenuto pagine città */
    .title{
        font-size: 22px;
    }

    .paragrafo1, .paragrafo2, .paragrafo3, .elenco {
        font-size: 18px;
    }

    .img-footer {
        width: 100%;
        height: 420px;
    }
}



/* ------ SMARTPHONE (fino a 767px) ------ */
@media (max-width: 767px) {

    body {
        margin: 17px;
    }

    /* Navbar */
    nav {
        display: flex;
        justify-content: space-between;
    }

    nav> .vuoto{
        display:none;
    }

    .marchio-navbar {
        width: 80px;
        height: 34px;
        grid-column: 1;
        grid-row: 1;
    }

    .menu {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .menu ul {
        justify-self: start;
        gap: 20px;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    /* Hero home */
    .hero-img {
        height: auto;
        margin-bottom: 32px;
        border-radius: 14px;
    }

    .hero-descrizione h1 {
        font-size: 30px;
        margin-bottom: 12px;
        width: 60vw;
    }

    .hero-descrizione p {
        font-size: 15px;
        margin-bottom: 48px;
        padding-left: 45px;
        width: 70vw;
    }

    .overlay{
        left: 15px;
    }

    /* Griglia card: 1 colonna */
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 36px;
        margin-bottom: 64px;
        padding: 0;
    }

    .card{
        width: 75vw;
        height: 55vw;
        margin-bottom: 80px;
    }

    .card img {
        height: 100%;
        width: 100%;
    }

    .contenuto-card h2 {
        font-size: 3vw;
    }

    .card-location p {
        font-size: 2vw;
    }

    .card-location img{
        width: 2vw;
        height: 2vw;
    }

    /* Footer: colonna verticale */
    footer {
        flex-direction: column;
        gap: 24px;
    }

    .marchio-footer {
        width: 120px;
        height: auto;
        padding: 0;
    }

    .comuni, .social {
        padding: 0;
    }

    .comuni p, .social p{
        font-size: 14px;
    }

    .comuni a, .social li{
        font-size: 13px;
    }

    footer .copyright {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    
    footer .copyright> p {
        width: 240px;
        font-size: 10px;
        text-align: center;
    }

    .social-comuni-align{
        display: flex;
        justify-content: center;
    }

    /* Hero pagine città */
    .hero-palermo,
    .hero-catania,
    .hero-siracusa,
    .hero-trapani {
        height: 246px;
        border-radius: 20px;
        margin-bottom: 40px;
    }

    .overlay-palermo, .overlay-catania, 
    .overlay-siracusa, .overlay-trapani{
        left:20px
    }

    .hero-descrizione{
        margin-bottom: 40px;
    }

    .hero-descrizione h1{
        width:75vw;
        margin:0;
    }

    .herotext h1 {
        font-size: 4vw;
    }

    .location-piazza {
        font-size: 2.5vw;
    }

    .location-piazza img {
        width: 2.5vw;
        height: 2.5vw;
    }

    /* Contenuto pagine città: layout colonna */
    .text1, .text2, .text3 {
        flex-direction: column-reverse;
        margin:0;
        gap:0;
    }

    .text-storia,
    .paragrafo3 {
        max-width: 100%;
        width: 90vw;
    }

    .img-storia{
        margin-bottom: 40px;
    }

    .img-storia img{
        height: 311px;
        width: 100%;
        max-width: 445px;
    }

    .elemento-invisibile {
        display: none;
    }

    .paragrafo1, .paragrafo2, .paragrafo3, .elenco {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .title {
        font-size: 18px;
    }

    .hero-descrizione {
        width: 100%;
        margin-left: 0;
        font-size: 22px;
    }

    .img-footer {
        width: 100%;
        height: 240px;
        margin-bottom: 165px;
        margin-top: 0;
    }
}